body {
  background-color: beige;
  font-family: 'Benne', serif;
}
header {
  position: relative;
  text-align: center;
  color: whitesmoke;
  padding-bottom: 15px;
}
#name {
  padding-top: 8px;
  color:darkseagreen
}
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

